.carousel-inner{
    margin: auto;
    background-color: black;
    padding: 0 20% 0 20%;
    text-align: left;
    max-height: 700px;
}
.carousel-caption h5{
    font-size: 90px;
    text-shadow: 0 0 20px #000;
    background-image: -webkit-linear-gradient(left,lightslategrey, transparent);
    background-image: -moz-linear-gradient(left, lightslategrey, transparent);
    text-align: left;
    box-shadow: 0 0 0px #000;
    margin-bottom: 0;
}
.carousel-caption p{
    background-image: -webkit-linear-gradient(left, #4ca1af, transparent);
    background-image: -moz-linear-gradient(left, #4ca1af, transparent);

    text-align: left !important;
    font-size: 30px;
}
.carousel-caption{
    right :0% !important;
    width: 100% !important;
    left: 0% !important;
    bottom: 15%;
}


@media (max-width: 1200px) {
    .carousel-inner{
        padding: 0;
    }
    .
}